extends ../layout

block content
  div.container
    div.row.justify-content-center
      div.col-md-6
        h1.text-center Create New Customer 
        form(method="post", action="/customer/create", enctype="multipart/form-data")
          div.form-group
            label(for='email') Email
            input#email.form-control(name='email')
          div.form-group
            label(for='password') Password 
            input#password.form-control(name='password', type='password')
          div.form-group
            label(for='fullname') Fullname 
            input#fullname.form-control(name='fullname')
          div.form-group
            label(for='image') Image
            input#image.form-control-file(type='file', name='image')
          div.text-center
            input.btn.btn-primary(type='submit', value='Create')